<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="svenmeier.coxswain"
    >

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LightTheme"
        android:name=".Coxswain"
        >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity
            android:name=".ProgramActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".SnapshotsActivity"
            android:label="@string/app_name"
            >
        </activity>

        <activity
            android:name=".WorkoutActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>

        <service
            android:name=".GymService"
            android:enabled="true" >
        </service>

    </application>

</manifest>
